body{
    background-color: gray;
    display: flex;
    flex-direction: column;

}
button{
    align-self: center;
    width: 5em;
    padding: 1em;
    margin: 1em;
    font-size: large
   
}

#container{
    display: flex;
    flex-flow: row wrap;
    align-self: center;
    max-width: 360px;
    max-height: 360px;

    
   
    
}
#grid{
    background-color: white;
    border: 1px solid black;
    min-height: 20px;
    min-width: 20px;

}

.active{
    background-color: blue;
}

